header
 background rgba(0, 0, 0, 0)
 width 100%
 color #e1e1e1
 height 50px
 line-height 50px
 position fixed
 h1
  margin 0
  text-align center
.hiden
 display none
.show
 background rgba(0, 0, 0, 1)