nav
 background none 
 position absolute
 right 0 
 top 0
 line-height 50px
 ul 
  display flex
  margin 0
  @media(max-width: 992px)
   display none
  li 
   margin-right 10px
   list-style: none
   a 
    color #e1e1e1
    text-decoration none
    font-size 1em 
    